@use 'variables' as *;
@use 'mixins';
$border-radius: 1rem;

$background-color: #f0f4f8; // 부드러운 파스텔 블루
$box-bg-color: #ffffff; // 박스 배경 색상 (변경 없음)
$primary-text-color: #2d2d2d; // 깊은 회색 글씨 색상
$accent-color: #6A0DAD; // 고급스러운 퍼플 색상
$gold-color: #FFD700; // 고급스러운 골드 색상
$shadow: 0 4px 20px rgba(0, 0, 0, 0.2); // 부드러운 그림자 효과


.aboutMe-wrapper {
    position: relative;
    width: 100%;
    height: auto; // 높이를 자동으로 조정
    background: $background-color;
    padding: 2rem; // 패딩 추가
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutMe-layout {
        width: 80%; // 너비 조정
        display: flex;
        flex-direction: column; // 세로 방향으로 배치
        gap: 2rem;

        .aboutMe-main-info {
            background: $box-bg-color;
            border-radius: $border-radius;
            box-shadow: $shadow;
            padding: 2rem;
            color: $primary-text-color;
            text-align: center; // 중앙 정렬

            h1 {
                font-size: 2rem;
                color: $accent-color;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }

        .aboutMe-sub-info {
            display: grid; // 그리드 레이아웃 사용
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // 카드 스타일
            gap: 2rem;

            .sub-item {
                background: lighten($box-bg-color, 5%);
                border-radius: $border-radius;
                box-shadow: $shadow;
                padding: 1.5rem;
                transition: transform 0.3s; // 호버 효과 추가

                &:hover {
                    transform: translateY(-5px); // 호버 시 약간 위로 이동
                }

                h2 {
                    font-size: 1.7rem;
                    font-weight: bold;
                    color: $accent-color;
                    margin-bottom: 1rem;
                    text-align: center; // 중앙 정렬
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        font-size: 1.3rem;
                        margin-bottom: 0.5rem;
                        position: relative;
                        padding-left: 1rem;

                        &::before {
                            content: "•";
                            color: $accent-color;
                            font-size: 1.2rem;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}
