@use 'variables' as *;

$point-text-color: #321697;

.portfolio-wrapper {
    width: 100%;
    padding: 6rem 2rem 9rem;
    background: #F5F5F5;
    // height: $wrapper-height;
}

.portfolio-header {
    padding: 1rem 11.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.section-title {
    width: 85%;
    font-size: 4rem;
}

.portfolio-length {
    text-indent: .7rem;
    font-size: 4rem;
    font-weight: 600;
    color: #929292;
}

.portfolio-contents {
    margin: 0 auto;
    width: 85%;
    // height: 75vh;
    // overflow-y: scroll;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.portfolio-item {
    margin: 0 auto;
    width: 100%;
    height: 33rem;
    border-top: 1px solid #DFDFDF;
    display: flex;
    padding: 2rem 1rem;
    background-color: #fdfdfd;
    /* 배경색 추가 */
}

.portfolio-description {
    padding: 1rem;
    width: 60%;
    height: 100%;
    background-color: #fff;
}

.title-info {
    height: 21%;
    /* border: 1px solid red; */
}

.title {
    font-size: 3.8rem;
    color: #333;
    font-weight: bold;
}

.project-division,
.team-division {
    display: inline-block;
    font-size: 1.15rem;
    padding: .15rem .8rem;
    border: 1px solid $point-text-color;
    color: $point-text-color;
    text-align: center;
    line-height: 1.8rem;
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
    margin-bottom: 1.6rem;
    margin-right: .4rem;
}

.team-division {
    border: 1px solid #1A7A32;
    color: #1A7A32;
}

.description-info {
    height: 53%;
    /* border: 1px solid red; */
}

.description-period {
    font-size: 1.3rem;
    color: $point-text-color;
    margin-bottom: .15rem;
}

.description-txt {
    font-size: 1.4rem;
    /* 텍스트 크기 */
    color: #555;
    height: 38%;
    line-height: 2rem;
    margin-bottom: .5rem;
    width: 82%;
    /* border: 1px solid red; */
}

.tech-stack {
    display: flex;
    gap: 0.5rem;
}

.tech-item {
    background-color: #f0f0f0;
    color: #333;
    font-size: 1.15rem;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

.detail-info {
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.info-button {
    text-align: center;
    width: 15rem;
    height: 4rem;
    line-height: 4rem;
    background-color: $point-color;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.info-button:hover {
    background-color: $point-text-color;
    transform: scale(1.05);
}

.portfolio-img-area {
    position: relative;
    width: 40%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: .15rem .2rem .5rem rgba(0, 0, 0, 0.1);
    background-size: 10000%;
    background-repeat: no-repeat;
    background-position: 10% 10%;
}

.portfolio-img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolio-img-hover{
    position: absolute;
    opacity: 0;
    border-radius: 1rem;
    display: flex;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

$logo-area-size: 5rem;
$logo-size: 4rem;
.sub-logo{
    position: absolute;
    background: #ffffffd4;
    border-radius: 50%;
    width: $logo-area-size;
    height: $logo-area-size;
    background-size: $logo-size;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

$top-size: 1.5rem;
.gitHub-logo{
    right: 1.5rem;
    bottom: $top-size;
}

.notion-logo{
    right: 7.5rem;
    bottom: $top-size;
}

.portfolio-img-hover:hover{
    transition: 0.3s;
    background-color: #0000006d;
    opacity: 1; 
    cursor: pointer;
}

.gitHub-logo:hover, .notion-logo:hover{
    background: #ffffffab;
    width: $logo-area-size;
    height: $logo-area-size;
    background-size: $logo-size;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    cursor: pointer;
}

.link_icon{
    $size: 3.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: $size;
    height: $size;
    background-size: contain;
}

/* ==sort-form== */
.sort-form {
    display: flex;
}

.sort-form input[type="radio"] {
    display: none;
    /* 기본 라디오 버튼 숨기기 */
}

/* 라벨 스타일 */
.sort-form label {
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #7e7e7e;
    border-bottom: 0.2rem solid #ccc;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 0.1rem;
    margin-left: 1rem;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.1);
}

.sort-form input[type="radio"]:checked+label::after {
    content: "•";
    padding-left: .3rem;
}

.sort-form input[type="radio"]:checked+label {
    background: #F8F4FD;
    color: $point-color;
    box-shadow: 0 .2rem .39rem #4f2fc194;
}

/* 호버 효과 */
.sort-form label:hover {
    background: linear-gradient(to bottom, #F4F0FF, #E8E2FF);
    box-shadow: 0 5px 7px rgba(79, 47, 193, 0.2);
}

.sort-form input[type="radio"]:checked+label {
    color: white;
    color: $point-color;
}