@use 'variables' as *;

$header-height: 20vh;
$canvas-height: calc($wrapper-height - $header-height - 10vh);
// ==========================
.Skills-wrapper {
    width: 100%;
    height: $wrapper-height;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box;

    .skills-header {
        width: 100%;
        height: $header-height;
        border: 1px solid red;
        margin-bottom: 2.5rem;
    }

    .skills-canvas-area{
        display: flex;
        justify-content: space-around;
    }
    
    .skills-canvas {
        width: 49%;
        height: $canvas-height;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
        position: relative;
    }
}
