// 사용시
@use 'variables' as *;

$layout-width: 76vw;
$about-image-box-size: 21vw;
$about-circle-size: 9vw;
$title-font-size: 2.5rem;
$intro-font-size: calc($title-font-size + .1rem);
$section-border-bottom: 12px solid #d9d9d97a;


// ==============================
.about-wrapper {
    width: 100%;
    // min-height: 65vh;
    background-color: #fcfcfc;
    padding: $about-pc-wrapper-padding;
    border-bottom: $section-border-bottom;
    border-top: 10px solid #d9d9d97a;
    border-radius: 10px 10px 0 0;
}

.about-main-title {
    font-size: 3.4rem;
    font-weight: 700;
    padding-bottom: 2.5rem;
    margin: 0 auto;
    text-align: center;
    color: #37197D;
    background-image: linear-gradient(90deg, #37197D, #6A3FB5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.3px;
    line-height: 1.2;
}



.about-layout{
    width: $layout-width;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


.about-image-box{
    position: relative;
    width: $about-image-box-size;
    height: $about-image-box-size;
}

.about-circle-shape{
    position: absolute;
    width: $about-circle-size;
    height: $about-circle-size;
    background: #37197D;
    border-radius: 50%;
    z-index: 1;
}

.about-image{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/aboutMe/student.jpg") no-repeat;
    background-size: contain;
    border-radius: 50% 50% 5px 50%;
    z-index: 20;
}

.about-content-box{
    width: calc(97% - $about-image-box-size);
    height: 100%;
    padding: 5rem 2rem;
}

///  == about : title, certification _ title 영역 ///
.about-title{
    font-size: $intro-font-size;
    padding-bottom: 2rem;
}

.about-certification-title {
    font-size: $title-font-size;
    padding-bottom: 2rem;
}

.about-title::before, .about-certification-title::before{
    content: "|";
    color: #a584f3;
    padding-right: 3px;
}

//_title

.about-text-box{
    width: 98%;
    padding-bottom: 4rem;
}
.about-text-box p{
    font-size: 1.6rem;
    line-height: 1.6;
}

.about-text-box p strong{
    font-size: 1.6rem;
}

/* == 자격증 섹션 == */

.certification-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.certification-list li {
    background-color: #f4f4f4;
    color: #333;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
    transition: all 0.3s ease;
    cursor: default;
    text-align: center;
}

// =====================================

@media(max-width: 1200px){
    .about-wrapper{
        padding: $about-wrapper-padding;
    }

    $about-image-box-size: 25vw;
    .about-image-box{
        width: $about-image-box-size;
        height: $about-image-box-size;
    }

    .about-layout{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}