// 사용시
// @use 'varialbes' as *

$point-color: #4F2FC1;
$section-border-bottom: 12px solid #e6e6e6;


$nav-height: 7.5rem;
$footer-height: 30.5vh;


$wrapper-height: calc(100vh - $nav-height);
$contact-height: calc($wrapper-height - $footer-height);